.last-event{

   white-space: nowrap  !important;
   overflow: hidden  !important;
   text-overflow: ellipse !important;
   max-width: 200px !important;

}

.titleEvent{
   color:black !important;
   max-width: 200px !important;
  text-align: center !important;
  max-height: 200px !important; 
  font-size: 10px  !important;
}