.container-list-last-events{
padding: 70px 0;
background: rgb(8, 8, 8);

}


.container-bg{

    background: rgb(15, 15, 15);

}

.header{
    text-align: center;
    color: rgba(253, 252, 252, 0.87) !important;
    margin-bottom: 20px !important;
    font-weight: 200 !important;;
    font-size:  3.125rem !important;;
    text-transform: uppercase !important;;
}